body {
    background-color: gray;
    font-family: Helvetica;
    color: white;
}

.wrapper {
    background-color: #4DC5FF;
	border: 1px solid white;
	margin: 0 auto;
	width: 500px;
    font-family: Helvetica;
    padding:15px;
}

.playlistWrapper {
	width: 500px;
	/*border: 1px solid red;*/
}

#suggestedSongsContainer {
    color:white;
}

#suggestedSongsContainer a {
	color: black;
}

.sugTrack {
    margin-bottom: 15px;
}